<%= form_with(model: private) do |form| %>
  <% if private.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(private.errors.count, "error") %> prohibited this private from being saved:</h2>

      <ul>
        <% private.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_date %>
    <%= form.number_field :event_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
