<p id="notice"><%= notice %></p>

<h1>All Event</h1>

<h2>Upcoming Event</h2>
<%= @future_events.each do |private|%>
<p>
  <strong>Event Title:</strong>
  <%= private.title_of_event %>
</p>
<% end %>

<h2>Past Event</h2>
<%= @past_events.each do |private|%>
<p>
  <strong>Event Title:</strong>
  <%= private.title_of_event %>
</p>
<% end %>
<%# 
<h2>Past Event</h2>
<%= render 'event.html.erb', privates:  Private.past_events%>

 

<%= link_to 'Create Event', new_private_path %>
